<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 offset-md-3">
            <img src="https://image.tmdb.org/t/p/w1280/{{movie.poster_path}}" class="img-fluid" alt="{{ movie.title }} Poster"/>
        </div>
        <div class="col-md-6">
            <h1>{{ movie.title }}</h1>
            <h3>Summary</h3>
            <div class="col-md-8 border border-info rounded-lg text-white bg-secondary"><p>{{ movie.overview}}</p></div>
            <h3>Release Date</h3>
            <div class="col-md-8 border border-info rounded-lg text-white bg-secondary"><h4>{{ movie.release_date }}</h4></div>
            <h3>Rating</h3>
            <div class="col-md-8 border border-info rounded-lg text-white bg-secondary"><h4>{{ movie.vote_average }}</h4></div>
        </div>
    </div>
    <div class="row m-3 pb-3">
        <div class="col-md-1 offset-md-9">
            <button type="button" (click)="backToSearch()" class="btn btn-info float-right">Back</button>
        </div>
    </div>
</div>